asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.6
Django==6.0.3
et_xmlfile==2.0.0
idna==3.11
numpy==2.4.4
openpyxl==3.1.5
pandas==3.0.1
python-dateutil==2.9.0.post0
requests==2.33.0
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
